html, body {
    margin: 0;
    padding: 0;
    background-color: #1B1924;
    color: white;
}

h3, p {
    margin:0;
    padding: 0;
}

img {
    width: 20%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (min-width: 992px) {
    .custom-lg-padding {
      margin-top: 24px;
    }

    .hide-border {
        display: none;
    }
  }

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

/* Shared styles for both delete and edit buttons */
.button {
    padding: 0;
    background: none;
    border: none;
    color: lightblue;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Specific styles for the delete button */
  .delete-button:hover {
    text-decoration: underline;
    color: red;
  }
  
  /* Specific styles for the edit button */
  .edit-button:hover {
    text-decoration: underline;
    color: blue;
  }
  


