html, body {
    margin: 0;
    padding: 0;
    background-color: #1B1924;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

h2, h3 {
    text-align: center;
    color: white;
    padding: 2px 0px;
    margin: 2px 0px;
    font-family: 'Rubik', sans-serif;
}

input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0px;
}

img {
    width: 100px;
    margin: 0 auto;
}

button {
    color: #04131C;
    background-color: #28A9F1;
    border: 0;
    padding: 15px 5px;
    border-radius: 5px;
    font-weight: bolder;
    font-size: 18px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}

ul, li {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 0px auto;
    margin-top: 20px;
}

#inputRecognition {
    text-align: start;
    min-height: 100px;
    color: #8F8F8F;
    background-color: #444059;
}

.toFromDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.toFromInput {
    width: 50%;
    color: #8F8F8F;
    background-color: #444059;
    text-align: start;
}

.post {
    background-color: white;
    border-radius: 2px;
}

.fromAndLikes {
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

.likes {
    text-align: right;
}

